.navbar {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  position: sticky;
  top: 0; /* Adjust the value according to your design */
  z-index: 100; /* Adjust the z-index as needed */
  background-color: #ffffff; /* Adjust the background color as needed */
}
.login-outer,
.register-outer {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.5rem 2rem;
}
.btnlogin {
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.login-container input {
  border: 0.7px solid #ccc;
  border-radius: 5px;
}
.register-container input {
  border: 0.7px solid #ccc;
  border-radius: 5px;
}
.login-container h1 {
  font-weight: 600;
  font-size: 1.4rem;
}
.register-container h1 {
  font-weight: 600;
  font-size: 1.4rem;
}
